@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600&family=Roboto:wght@100;400;500;700&family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap");

.calendar-container {
  border: solid 0.025rem #e6e3e3;
  margin: 5rem;
  margin-bottom: 1rem;
  min-width: auto;
  margin-top: 0;
  padding: 3rem;
  padding-left: 0rem;
  background-color: #faf9f6;
  border-radius: 1rem;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 1px;
}

.time-label {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #1b1c1c;
  font-size: 0.8rem;
  font-weight: 500;
}

.times-container {
  margin-top: 35px;
}

.day-label {
  font-family: "Montserrat", sans-serif;
  color: #72767b;
  font-weight: 700;
  font-size: 0.82rem;
  text-align: center;
  padding-bottom: 1rem;
  height: 1rem;
}

.calendar-day {
  display: grid;
  grid-template-rows: repeat(24, 1fr);
  grid-gap: 1px;
}

.outline {
  outline: solid 0.009px #e6e3e3;
}

.calendar-time-blocks {
  text-align: center;
  padding-right: 1rem;
  height: 1.4rem;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  color: #1b1c1c;
  font-size: 0.95rem;
  font-weight: 500;
}

.button-style {
  border: none;
  padding: 1rem 2.5rem;
  margin: 0.5rem;
  color: #f6f6f6;
  background-color: #f0543d;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 0.95rem;
  cursor: pointer;
  text-align: center;
  border-radius: 1.1rem;
  transition: background 250ms ease-in-out, transform 150ms ease;
  height: 4rem;
}

.button-style:hover {
  background-color: #23232b;
  transition: 0.3s;
}

.thing {
  background-color: #5736f8;
}

.buttons-container {
  margin-left: 5rem;
  margin-right: 5rem;
  display: flex;
  justify-content: right;
  align-items: center;
}
